@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Hanken Grotesk", ui-sans-serif, system-ui, sans-serif;

  --color-surface: #f9f9ff;
  --color-surface-dim: #cfdaf2;
  --color-surface-bright: #f9f9ff;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f0f3ff;
  --color-surface-container: #e7eeff;
  --color-surface-container-high: #dee8ff;
  --color-surface-container-highest: #d8e3fb;
  --color-on-surface: #111c2d;
  --color-on-surface-variant: #434655;
  --color-inverse-surface: #263143;
  --color-inverse-on-surface: #ecf1ff;
  --color-outline: #737686;
  --color-outline-variant: #c3c6d7;
  --color-surface-tint: #0053db;
  --color-primary: #004ac6;
  --color-on-primary: #ffffff;
  --color-primary-container: #2563eb;
  --color-on-primary-container: #eeefff;
  --color-inverse-primary: #b4c5ff;
  --color-secondary: #505f76;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #d0e1fb;
  --color-on-secondary-container: #54647a;
  --color-tertiary: #515659;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #696e71;
  --color-on-tertiary-container: #edf1f5;
  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;
  --color-primary-fixed: #dbe1ff;
  --color-primary-fixed-dim: #b4c5ff;
  --color-on-primary-fixed: #00174b;
  --color-on-primary-fixed-variant: #003ea8;
  --color-secondary-fixed: #d3e4fe;
  --color-secondary-fixed-dim: #b7c8e1;
  --color-on-secondary-fixed: #0b1c30;
  --color-on-secondary-fixed-variant: #38485d;
  --color-tertiary-fixed: #dfe3e7;
  --color-tertiary-fixed-dim: #c3c7cb;
  --color-on-tertiary-fixed: #171c1f;
  --color-on-tertiary-fixed-variant: #43474b;
  --color-background: #f9f9ff;
  --color-on-background: #111c2d;
  --color-surface-variant: #d8e3fb;
}

body {
  background-color: var(--color-background);
  color: var(--color-on-background);
  font-family: var(--font-sans);
}
